.App {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.App-link {
  color: #61dafb;
}

/*
██████╗ ██╗   ██╗██████╗ ██╗     ██╗ ██████╗
██╔══██╗██║   ██║██╔══██╗██║     ██║██╔════╝
██████╔╝██║   ██║██████╔╝██║     ██║██║
██╔═══╝ ██║   ██║██╔══██╗██║     ██║██║
██║     ╚██████╔╝██████╔╝███████╗██║╚██████╗
╚═╝      ╚═════╝ ╚═════╝ ╚══════╝╚═╝ ╚═════╝
*/
.button {
  background-color: rgb(0, 139, 139);
  border: none;
  border-radius: 10px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-size: large;
}

input {
  outline: none;
  border: solid 1.5px turquoise;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  line-height: 24px;
  box-sizing: border-box;
}

input:focus {
  box-sizing: border-box;
  background-color: rgba(38, 148, 137, 0.705);
  color: white;
}

/*
██╗███╗   ██╗████████╗██████╗  ██████╗
██║████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗
██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║
██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║
██║██║ ╚████║   ██║   ██║  ██║╚██████╔╝
╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝
*/
.intro_container {
  background-color: pink;
  width: "100%";
  height: 200px;
  position: relative;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro_button {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

/*
██╗      ██████╗  ██████╗ ██╗███╗   ██╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
██║     ██║   ██║██║   ██║██║██║╚██╗██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝

*/

.login_input {
  margin-right: 10px;
}

/*
██╗███╗   ██╗██╗████████╗██╗ █████╗ ██╗
██║████╗  ██║██║╚══██╔══╝██║██╔══██╗██║
██║██╔██╗ ██║██║   ██║   ██║███████║██║
██║██║╚██╗██║██║   ██║   ██║██╔══██║██║
██║██║ ╚████║██║   ██║   ██║██║  ██║███████╗
╚═╝╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝╚═╝  ╚═╝╚══════╝

*/

.initial_input {
  border: solid 1.5px turquoise;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  line-height: 24px;
}

.initial_form_title {
  display: block;
}

/*
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

*/

.footer {
  background-color: rgb(32, 138, 127);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
