:root {
  --primary-color: rgb(104, 224, 64);
  --bg-body: rgb(233, 245, 238);
  /* --bg-button: rgb(0, 139, 139); */
  --bg-button: rgb(84, 177, 70);
  /* --bg-footer: rgb(32, 138, 127); */
  --bg-footer: rgba(35, 141, 83, 0.9);
  --bg-input: rgb(245, 245, 245);
  --bg-intro: rgb(145, 229, 215);
  --bg-initial: rgb(201, 233, 230);
  --bg-input-focus: rgba(38, 148, 137, 0.705);
  --error-color: rgb(240, 97, 61);
  --text-color: rgb(245, 245, 245);
  --column1: rgba(169, 194, 136, 0.705);
  --column3: rgba(237, 244, 244, 0.1);
  /* --gray: rgb(201, 199, 199); */
  --gray: rgba(150, 148, 148, 0.23);
}

.App-link {
  color: #61dafb;
  overflow: scroll;
  height: 100vh;
}

.App {
  background: repeating-linear-gradient(
    to right,
    var(--bg-input),
    var(--bg-input) 30px,
    var(--column3) 10px,
    var(--column3) 100px
  );
  overflow: scroll;
  height: 100vh;
}

/*
██████╗ ██╗   ██╗██████╗ ██╗     ██╗ ██████╗
██╔══██╗██║   ██║██╔══██╗██║     ██║██╔════╝
██████╔╝██║   ██║██████╔╝██║     ██║██║
██╔═══╝ ██║   ██║██╔══██╗██║     ██║██║
██║     ╚██████╔╝██████╔╝███████╗██║╚██████╗
╚═╝      ╚═════╝ ╚═════╝ ╚══════╝╚═╝ ╚═════╝
*/

body {
  background-color: var(--bg-body);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.button {
  background-color: var(--bg-button);
  border: none;
  border-radius: 10px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--text-color);
  font-size: large;
}

input,
.dropdown-box {
  display: block;
  outline: none;
  border: solid 1.5px var(--gray);
  border-radius: 5px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: var(--bg-input);
  height: 30px;
  width: 200px;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

*/

.footer {
  background-color: var(--bg-footer);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.login-container {
  padding-left: 300px;
  padding-right: 300px;
}

/*
██╗███╗   ██╗████████╗██████╗  ██████╗
██║████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗
██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║
██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║
██║██║ ╚████║   ██║   ██║  ██║╚██████╔╝
╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝
*/
.intro-container {
  width: "100%";
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 400px;
}

.intro-text {
  margin-right: 20px;
  text-align: right;
}

.intro-image {
  padding: 20px;
  background-color: var(--bg-input-focus);
}

/*
██╗███╗   ██╗██╗████████╗██╗ █████╗ ██╗
██║████╗  ██║██║╚══██╔══╝██║██╔══██╗██║
██║██╔██╗ ██║██║   ██║   ██║███████║██║
██║██║╚██╗██║██║   ██║   ██║██╔══██║██║
██║██║ ╚████║██║   ██║   ██║██║  ██║███████╗
╚═╝╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝╚═╝  ╚═╝╚══════╝

*/

.initial-container {
  margin: 50px;
  height: 250px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: 1px 1px 3px 2px var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.initial-header {
  padding: 0;
  margin: 0;
  background-color: var(--bg-button);
  color: var(--text-color);
  font-size: 18px;
  line-height: 36px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.initial-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.input label {
  display: block;
  font-size: 18px;
  margin: 5px auto;
  margin-top: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial-button {
  bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  align-self: center;
}

.error {
  font-size: 14px;
  color: var(--error-color);
}

.options {
  border: 1px solid var(--gray);
  border-top-width: 0;
  position: absolute;
  width: 200px;
  top: 30px;
  z-index: 10;
  background-color: azure;
  box-sizing: border-box;
  height: 120px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-y: scroll;
}

.option {
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  border-bottom: 1px dotted rgb(219, 245, 245);
}

.option:hover {
  background-color: aqua !important;
}

.my-dropdown {
  position: relative;
}

.dropdown-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

/*
██████╗ ███████╗███████╗██╗   ██╗██╗  ████████╗
██╔══██╗██╔════╝██╔════╝██║   ██║██║  ╚══██╔══╝
██████╔╝█████╗  ███████╗██║   ██║██║     ██║
██╔══██╗██╔══╝  ╚════██║██║   ██║██║     ██║
██║  ██║███████╗███████║╚██████╔╝███████╗██║
╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝ ╚══════╝╚═╝
*/

.result-upper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  height: 200px;
  padding: 0 100px;
}

.result-image {
  background-color: var(--bg-initial);
}

.result-tip-header {
  text-align: center;
  font-size: 22px;
}

.tips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 200px;
  margin-bottom: 100px;
  gap: 80px;
}

.tip {
  width: 250px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: 1px 1px 2px 1px var(--gray);
  overflow: hidden;
}

.tip p {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  background-color: var(--bg-button);
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
}
.tip div {
  padding: 20px;
  text-align: left;
}
