:root {
  --primary-color: turquoise;
  --bg-body: rgb(233, 245, 238);
  --bg-button: rgb(0, 139, 139);
  --bg-footer: rgb(32, 138, 127);
  --bg-input: rgb(245, 245, 245);
  --bg-intro: rgb(145, 229, 215);
  --bg-initial: rgb(201, 233, 230);
  --bg-input-focus: rgba(38, 148, 137, 0.705);
  --error-color: rgb(240, 97, 61);
  --text-color: rgb(245, 245, 245);
}

.App-link {
  color: #61dafb;
  overflow: scroll;
  height: 100vh;
}

.App {
  background-color: transparent;
}

/*
██████╗ ██╗   ██╗██████╗ ██╗     ██╗ ██████╗
██╔══██╗██║   ██║██╔══██╗██║     ██║██╔════╝
██████╔╝██║   ██║██████╔╝██║     ██║██║
██╔═══╝ ██║   ██║██╔══██╗██║     ██║██║
██║     ╚██████╔╝██████╔╝███████╗██║╚██████╗
╚═╝      ╚═════╝ ╚═════╝ ╚══════╝╚═╝ ╚═════╝
*/

body {
  background-color: var(--bg-body);
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.button {
  background-color: var(--bg-button);
  border: none;
  border-radius: 10px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--text-color);
  font-size: large;
}

input {
  outline: none;
  border: solid 1.5px var(--primary-color);

  border-radius: 5px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: var(--bg-input);
}

input:focus {
  box-sizing: border-box;
  background-color: var(--bg-input-focus);
  color: var(--text-color);
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--bg-input);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--primary-color);
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--primary-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--primary-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

*/

.footer {
  background-color: var(--bg-footer);
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.login-container {
  padding-left: 300px;
  padding-right: 300px;
}

/*
██╗███╗   ██╗████████╗██████╗  ██████╗
██║████╗  ██║╚══██╔══╝██╔══██╗██╔═══██╗
██║██╔██╗ ██║   ██║   ██████╔╝██║   ██║
██║██║╚██╗██║   ██║   ██╔══██╗██║   ██║
██║██║ ╚████║   ██║   ██║  ██║╚██████╔╝
╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝
*/
.intro-container {
  width: "100%";
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 400px;
}

.intro-text {
  margin-right: 20px;
  text-align: right;
}

.intro-image {
  padding: 20px;
  background-color: var(--bg-input-focus);
}

/*
██╗███╗   ██╗██╗████████╗██╗ █████╗ ██╗
██║████╗  ██║██║╚══██╔══╝██║██╔══██╗██║
██║██╔██╗ ██║██║   ██║   ██║███████║██║
██║██║╚██╗██║██║   ██║   ██║██╔══██║██║
██║██║ ╚████║██║   ██║   ██║██║  ██║███████╗
╚═╝╚═╝  ╚═══╝╚═╝   ╚═╝   ╚═╝╚═╝  ╚═╝╚══════╝

*/

.initial-container {
  width: "80%";
  margin: 50px;
  height: 250px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: 1px 1px 5px 4px rgba(150, 148, 148, 0.23);
  overflow: hidden;
  position: relative;
}

.initial-header {
  padding: 0;
  margin: 0;
  background-color: var(--bg-initial);
  color: var(--text-color);
  font-size: 18px;
  line-height: 36px;
}

.initial-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.initial_container label {
  font-weight: bold;
  font-size: 18px;
}

.initial_button {
  position: absolute;
  bottom: 20px;
}

.error {
  font-size: 14px;
  color: var(--error-color);
}

.input {
  margin: 10px 0;
  height: 30px;
}

/*
██████╗ ███████╗███████╗██╗   ██╗██╗  ████████╗
██╔══██╗██╔════╝██╔════╝██║   ██║██║  ╚══██╔══╝
██████╔╝█████╗  ███████╗██║   ██║██║     ██║
██╔══██╗██╔══╝  ╚════██║██║   ██║██║     ██║
██║  ██║███████╗███████║╚██████╔╝███████╗██║
╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝ ╚══════╝╚═╝
*/

.tips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 200px;
  margin-bottom: 100px;
}

.tip {
  width: 200px;
  height: 150px;
  background-color: var(--bg-input-focus);
  color: var(--text-color);
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.23);
}

.options {
  height: 100px;
  width: 100px;
  background-color: pink;
}
.my-dropdown {
  height: 200px;
  width: 200px;
  background-color: rgb(167, 43, 64);
}
